<div class="container">
    <div class="row">

        <div class="col-md-12 text-center">
         
                <div class="brdr w-25 my-4 mx-auto"></div>
                <h2>
                    Tranding <br>
                    tv <br>
                    To watch now
                </h2>
                <p>Tranding tv To Watch Now</p>
                <div class="brdr my-4 w-100"></div>
         
        </div>

        <div *ngFor="let tv of trendtv" class="item col-md-2 col-sm-4 position-relative rounded rounded-3">

            <div class="movie border border-dark my-3 pb-5 ">
                <a [routerLink]="['/tvDetails',tv.id]" class="list-unstyled text-decoration-none text-white">
                    <img [src]="imgPrefix+tv.poster_path" class="w-100" alt="">
                    <h3 class="h6 my-2 mx-2">{{tv.title}} {{tv.name}}</h3>
                    <p class="my-2 mx-2">{{tv.release_date}}</p>
                    <div class="vote position-absolute top-0 end-0  rounded rounded-3">
                        {{tv.vote_average | number:'1.1-1'}}
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>