<div class="container">
    <div class="row">

        <div class="col-md-12 text-center">
         
                <div class=" w-25 my-4 mx-auto"></div>
                <h2>
                    Tranding <br>
                    tv <br>
                    To watch now
                </h2>
                <p>Tranding tv To Watch Now</p>
                <div class="brdr my-4 w-100"></div>
         
        </div>

        <div [routerLink]="['/tvDetails',tv.id]" *ngFor="let tv of trendtv" class="tv col-lg-3 my-2 col-md-4 col-sm-6 item position-relative">

            <img [src]="imgPrefix+tv.poster_path" class="w-100" alt="">

            <h3 class="h6 my-3 ">{{tv.title}} {{tv.name}}</h3>

            <h3 class="date h6 my-2 text-white"><span class="">Release Date : </span> {{tv.first_air_date}}</h3>    

            <div class="vote position-absolute top-0 end-0  rounded rounded-2">
                <i class='fas fa-star text-warning fa-xs'></i>{{tv.vote_average | number:'1.1-1'}}
            </div>
        
        </div>

        <nav class="mt-3">
            <ul class=" d-flex align-items-center justify-content-center list-unstyled">
                <li (click)="getTvsPage(1)" class="nav-li border border-info rounded rounded-3 mx-1 p-2">1</li>
                <li (click)="getTvsPage(2)" class="nav-li border border-info rounded rounded-3 mx-1 p-2">2</li>
                <li (click)="getTvsPage(3)" class="nav-li border border-info rounded rounded-3 mx-1 p-2">3</li>
                <li (click)="getTvsPage(4)" class="nav-li border border-info rounded rounded-3 mx-1 p-2">4</li>
                <li (click)="getTvsPage(5)" class="nav-li border border-info rounded rounded-3 mx-1 p-2">5</li>
            </ul>
        </nav>

    </div>
</div>