

<div class="container">
    <div class="row  mx-auto col-lg-10 col-md-12">

        <!-- <div class="head bg-info text-center mb-5">
            <h1>Login Form</h1>
        </div> -->
        <h2 class="border border-info py-2 text-center w-50 mx-auto ">login Form</h2>

        <div *ngIf="err" class="alert alert-danger my-2">{{err}}</div>

        <form [formGroup]="loginForm" (ngSubmit)="OnLogin(loginForm)">

            <div class="my-5 px-5">
                <label class="my-1" for="email">Email : ze1@gmail.com</label>
                <input class="form-control" formControlName="email" type="text" name="" id="">
                <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="text-danger">
                    <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is Required</p>
                    <p *ngIf="loginForm.get('email')?.errors?.['email']">Email is Invalid</p>
                </div>
            </div>

            <div class="my-5 px-5">
                <label class="my-1" for="password">password</label>
                <input class="form-control" formControlName="password" type="password" name="" id="">

                <!-- <h3 *ngIf="!show" (click)="show=!show">Show Password</h3> -->
                <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="text-danger">
                    <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is Required</p>
                    <p *ngIf="loginForm.get('password')?.errors?.['pattern']">password is Invalid</p>
                </div>
            </div>

            <div class="text-center mb-5">
                <button class="btn btn-outline-info text-white" [disabled]="loginForm.invalid" type="submit">Login</button>
            </div>
        </form>

    </div>
</div>