

<div class="container">
    <div class="row  mx-auto col-lg-10 col-md-12">

        <!-- <div class="head bg-info text-center mb-5">
            <h1>Login Form</h1>
        </div> -->

        <div *ngIf="err" class="alert alert-danger my-3">{{err}}</div>

        <form #loginform="ngForm" (ngSubmit)="OnLogin(loginform)">

            <div class="my-5 px-5">
                <label for="userName" class="form-label">Username : kminchelle</label>

                <input ngModel #userName="ngModel" class="form-control" type="username" name="username" required
                    minlength="8" maxlength="16">

                <p class="text text-danger my-1" *ngIf="userName.errors?.['required'] && userName.touched">
                    * username is required
                </p>

                <p class="text text-danger my-1" *ngIf="userName.errors?.['minlength'] && userName.touched">*
                    Username must be between 8 - 16 letters
                </p>
            </div>

            <div class="my-5 px-5">
                <label for="password" class="form-label">Password : 0lelplR</label>

                <input ngModel #password="ngModel" class="form-control" type="password" name="password" required
                    password minlength="6" maxlength="15">

                <p class="text text-danger my-1" *ngIf="password.errors?.['required'] && password.touched">*
                    Password is required
                </p>

                <p class="text text-danger my-1" *ngIf="password.errors?.['minlength, maxlength'] && password.touched">*
                    Password must be between 6 - 15 characters
                </p>
            </div>

            <div class="text-center mb-5">
                <button class="btn btn-outline-info text-white" [disabled]="loginform.invalid" type="submit">Login</button>
            </div>
        </form>

    </div>
</div>