.mx-5{
    margin-left: 100px !important;
}

.movie-details{
    font-size: 20px;
  
}

.tv-details p span{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
}
p ,.tagline{
    color: #949cb0;
}