<div class="container">
    <div class="row">

        <div class="col-md-12 text-center">
         
                <div class=" w-25 my-4 mx-auto"></div>
                <h2>
                    Tranding <br>
                    people <br>
                    To watch now
                </h2>
                <p>Tranding people To Watch Now</p>
                <div class="brdr my-4 w-100"></div>
         
        </div>

        <div *ngFor="let person of trendperson" class="people col-lg-3 my-2 col-md-4 col-sm-6 item position-relative">


            <img [src]="imgPrefix+person.profile_path" class="w-100" alt="">

            <h3 class="h6 my-3 ">{{person.title}} {{person.name}}</h3>

            <h3 class="h6 my-3 text-danger">{{person.known_for_department}} </h3>

        </div>

    </div>
</div>