/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body{
   background-color: #131722;

   font-family: 'Montserrat Alternates', sans-serif;

   color: #fff;
   
}
.bg-color{
   background-color: #131722;
}

.vote{
   background-color: #24baef;
   color: #fff;
   font-weight: 900;
   padding: 5px;
}

.brdr{
   background-color: #a8a8a83d;
   height: 1px;
}

.nav-li{
   cursor: pointer;
}