
<app-header [headertrendmovies]='trendMovie'></app-header>

<div class="container">
    <div class="row">

        <div class="col-md-4 ">
            <div class="brdr w-25 my-4"></div>
            <h2>
                Tranding <br>
                Movies <br>
                To watch now
            </h2>
            <p>Tranding Movies To Watch Now</p>
            <div class="brdr my-4"></div>
        </div>

        <div *ngFor="let movie of trendMovie" class="col-md-2 col-sm-4 position-relative">

            <div class="movie border border-dark my-3">
                <a [routerLink]="['/movieDetails',movie.id]" class="list-unstyled text-decoration-none text-white">
                    <img [src]="imgPrefix+movie.poster_path" class="w-100" alt="">
                    <h3 class="h6 text-center my-1">{{movie.title}} {{movie.name}}</h3>

                    <div class="vote position-absolute top-0 end-0  ">
                        {{movie.vote_average | number:'1.1-1'}}
                    </div>
                </a>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="brdr w-25 my-4"></div>
            <h2>
                Tranding <br>
                tv <br>
                To watch now
            </h2>
            <p>Tranding tv To Watch Now</p>
            <div class="brdr my-4"></div>
        </div>

        <div *ngFor="let movie of trendTv" class="col-md-2 col-sm-4 position-relative">

            <div class="movie">
                <img [src]="imgPrefix+movie.poster_path" class="w-100" alt="">
                <h3 class="h6 text-center">{{movie.title}} {{movie.name}}</h3>

                <div class="vote position-absolute top-0 end-0">
                    {{movie.vote_average | number:'1.1-1'}}
                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="brdr w-25 my-4"></div>
            <h2>
                Tranding <br>
                people <br>
                To watch now
            </h2>
            <p>Tranding people To Watch Now</p>
            <div class="brdr my-4"></div>
        </div>

        <div *ngFor="let movie of trendPeople" class="col-md-2 col-sm-4 position-relative">

            <div class="movie">
                <img [src]="imgPrefix+movie.profile_path" class="w-100" alt="">
                <h3 class="h6 text-center">{{movie.title}} {{movie.name}}</h3>

                <div class="vote position-absolute top-0 end-0">
                    {{movie.popularity | number:'1.1-1'}}
                </div>
            </div>

        </div>

    </div>
</div>
