<div class="container">
    <div class="row w-75 mx-auto">
        <div>
            <h2 class="border border-info py-2 text-center w-50 mx-auto mb-3 ">register Form</h2>
            <form [formGroup]="registerForm" (ngSubmit)="OnSubmit(registerForm)">
                
                <!-- {{registerForm.get('first_name')?.errors?.['minlength'] |json}} -->
                <div class="my-2">
                    <label class="my-1" for="first_name">First Name</label>
                    <input class="form-control" formControlName="first_name" type="text" name="" id="">
                    <div *ngIf="registerForm.get('first_name')?.errors && registerForm.get('first_name')?.touched" class="text-danger">
                        <p *ngIf="registerForm.get('first_name')?.errors?.['required']">First Name is Required</p>
                        <p *ngIf="registerForm.get('first_name')?.errors?.['minlength']">first Name is MinLenght 4</p>
                        <p *ngIf="registerForm.get('first_name')?.errors?.['maxlength']">first Name is MaxLenght 10</p>
                    </div>
                </div>
                
                <div class="my-2">
                    <label class="my-1" for="last_name">Last Name</label>
                    <input class="form-control" formControlName="last_name" type="text" name="" id="">
                    <div *ngIf="registerForm.get('last_name')?.errors && registerForm.get('last_name')?.touched" class="text-danger">
                        <p *ngIf="registerForm.get('last_name')?.errors?.['required']">last Name is Required</p>
                        <p *ngIf="registerForm.get('last_name')?.errors?.['minlength']">last Name is MinLenght 4</p>
                        <p *ngIf="registerForm.get('last_name')?.errors?.['maxlength']">last Name is MaxLenght 10</p>
                    </div>
                </div> 

                <div class="my-2">
                    <label class="my-1" for="email">Email</label>
                    <input class="form-control" formControlName="email" type="text" name="" id="">
                    <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="text-danger">
                        <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is Required</p>
                        <p *ngIf="registerForm.get('email')?.errors?.['email']">Email is Invalid</p>
                    </div>
                </div>

                <div class="my-2">
                    <label class="my-1" for="password">password</label>
                    <input class="form-control" formControlName="password" type="text" name="" id="">

                    <!-- <h3 *ngIf="!show" (click)="show=!show">Show Password</h3> -->
                    <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="text-danger">
                        <p *ngIf="registerForm.get('password')?.errors?.['required']">Password is Required</p>
                        <p *ngIf="registerForm.get('password')?.errors?.['minlength']">Password is MinLenght 4</p>
                        <p *ngIf="registerForm.get('password')?.errors?.['maxlength']">Password is MaxLenght 10</p>
                        <p *ngIf="registerForm.get('password')?.errors?.['pattern']">password is Invalid</p>
                    </div>
                </div>

                <div class="my-2">
                    <label class="my-1" for="age">age</label>
                    <input class="form-control" formControlName="age" type="text" name="" id="">
                    <div *ngIf="registerForm.get('age')?.errors && registerForm.get('age')?.touched" class="text-danger">
                        <p *ngIf="registerForm.get('age')?.errors?.['required']">Age is Required</p>
                        <p *ngIf="registerForm.get('age')?.errors?.['min']">Min age is 16</p>
                        <p *ngIf="registerForm.get('age')?.errors?.['max']">Max age is 60</p>
                    </div>
                </div>

                <div class="text-center my-3 ">
                    <button class="btn btn-outline-info text-white mx-auto" [disabled]="registerForm.invalid" type="submit">Submit</button>
                </div>

                <div *ngIf="err" class="alert alert-danger my-2">{{err}}</div>
            
            </form>
        </div>
    </div>
</div>